<div>
  <header>
    <span class="title">Application Documenation</span>
  </header>
  <div class="container">
    <div class="row">
      <div class="col s12 m3">
        <div class="rHeader">
          <div>
            <i class="material-icons">
              view_list
            </i>
          </div>
          <div>
            <h5>Version</h5>
          </div>
        </div>
      </div>
      <div class="col s12 m9">
        <p>
          @angular 6.0.0
        </p>
        <p>
          @angular 6.0.0
        </p>

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col m3">
        <div class="rHeader">
          <div>
            <i class="material-icons">
              format_list_bulleted
            </i>
          </div>
          <div>
            <h5>Features</h5>
          </div>
        </div>
      </div>
      <div class="col m9">
          <ul>
            <li> Modular</li>
            <li> Reusable Libraries</li>
            <li> Material design</li>
            <li> PWA</li>
            <li> Modular</li>
            <li> Reusable Libraries</li>
            <li> Material design</li>
            <li> PWA</li>
            <li> Modular</li>
            <li> Reusable Libraries</li>
            <li> Material design</li>
            <li> PWA</li>
            <li> Modular</li>
            <li> Reusable Libraries</li>
            <li> Material design</li>
            <li> PWA</li>
          </ul>
      </div>
    </div>
    <hr>

    <div class="row">
      <div class="col m3">
        <div class="rHeader">
          <div>
            <i class="material-icons">
              pie_chart
            </i>
          </div>
          <div>
            <h5>Features</h5>
          </div>
        </div>
      </div>
      <div class="col m9">
        <div style="height:400px;width:400px">
          <canvas id="canvas">{{ chart }}</canvas>
        </div>
      </div>
    </div>

  </div>
</div>
